/* You can add global styles to this file, and also import other style files */

@import "~leaflet/dist/leaflet.css";
html, body { height: 100%; }
body { margin: 0;
    background-image: url('../src/assets/ABCD.jpeg');background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;font-family: Roboto, "Helvetica Neue", sans-serif; }
