<mat-card class="about">
    <u><h1 style="text-align: center;">ABOUT US</h1></u>
<p>
    Our  website,  <b style="color: yellow;">COFFEE LOVE</b>  is  unique  from  other  websites. It has user-friendly environment.<br><br> 
    You can select coffee shops which are close to you. <br><br>
    We will the details of you like name, email id, phone number, security question and security answer for security purpose.<br><br>
    We make a promise that we won't share your personal info to others for market purposes.<br><br><br><br><br>
    <u>CONTACT US </u>:--  <br><br>
    Email Id :-  coffeelove@gmail.com<br>
    Phone number :-- 9123456780

</p>
</mat-card>